h2 {
    font-family: 'Courier New', Courier, monospace;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
    background-color: 'lightblue';
    padding: 20px 40px;
    font-family: 'Roboto';
}
